
## for active record key gen use this command: bin/rails db:encryption:init
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY: #your active record primary key
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY: #your active record deterministic key
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT: #your active record key derivation salt
GOOGLE_CLIENT_ID: #your google omniauth client id
GOOGLE_CLIENT_SECRET: #your google omniauth client secret -> https://developers.google.com/identity/protocols/oauth2
# thee are not needed for the app to run
# rename this file to .env